<div class="container-fluid about" [@fadeIn]>
  <div class="landing-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 position-relative">
          <div class="content">
            <h1><span>About </span> Mercy Munyange</h1>

            <p>
              I'm a passionate <strong>business and product development expert</strong> who loves to create value for businesses and their customers. I have over <strong>twelve years of experience</strong> in various sectors, such as digital
              financial
              services, digital solutions, data analytics and customer experience with impactful work in different markets, including Kenya, Tanzania, Nigeria and the Caribbean, USA.
            </p>

            <p>
              I have been part of some amazing projects that <strong>have made a difference in the world</strong>. For instance, I was part of the initial team that launched M-PESA, the world's renowned mobile money service, in Kenya. I was
              responsible for running the end-to-end agency management process, from recruitment and vetting to training and activation of agents and learned a lot about the importance of customer feedback and relationship management in growing a successful business.
            </p>

            <p>
              I learned a lot about the importance of customer feedback and relationship management in growing a successful business. I also led a team within Safaricom PLC, the largest telecom company in Kenya, to set up a customer value management unit that used data to strategically target consumers with relevant products. I enjoy
              working with data and analytics to <strong>understand customer behavior and preferences</strong>.
            </p>

            <p>Besides my professional work, I also love to share my insights and experiences with others through my podcasts and in writing. <strong>I am an author</strong> of a book titled <a href="#book">Kingdom Encounter</a>. This book is a
              reflection of my personal journey with God and how He has transformed my life.
            </p>

          </div>
        </div>
        <div class="col-9 col-lg-5">
          <div class="illustration">
            <img class="mercy-img" src="assets/images/mercy-about-image.jpg" alt="illustration">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="current-position" class="current-position">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-md-6 col-lg-5">
          <div class="illustration-holder">
            <img src="assets/images/undraw-current-step.svg" alt="illustration">
          </div>
        </div>
        <div class="col-12 col-lg-7">

          <div class="content">
            <p>
              Currently, I am offering strategy advice as a business consultant to various organizations, such as Taxiye, Meliora Technologies, Stanbic Bank and Telkom ; by helping them develop efficient, operationally and commercially sound strategic
              plans, as well as implement customer feedback management systems and gain a 360-degree <strong>understanding of customer behavior</strong>.
            </p>

            <p>
              My core strengths include strategy formulation, customer journey mapping, business process development, operations and support development, SME scale through operationalization and management. I have <strong>a Bachelor's Degree in Social Work
              and a Master's Degree in Project Planning and Management</strong> from the University of Nairobi.

            </p>


            <p>
              My goal is to use my skills and talents to create impactful products and businesses that will benefit customers and society at large. I am also looking forward to a time when my content will inspire and empower my listeners and others
              who interact with them, because <strong>everyone has a unique purpose and potential</strong> that can be unleashed through learning and growth.

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-wave">
      <img src="assets/images/grey-wave.svg" alt="">
    </div>
  </div>

  <!-- BOOK SECTION -->
  <div id="book">
    <app-book></app-book>
  </div>


</div>
