<!-- BOOK SECTION -->


<div id="book" class="book">
  <div class="container">


    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" data-interval="7000">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="image-holder">
                <img src="assets/images/kingdom-encounter-poster.png" alt="book-poster">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="content">

                <div>

                  <span>
                    This book is more than just a memoir. It is a testimony of how God can transform a broken life into
                    a
                    beautiful
                    masterpiece. I used to think I had it all figured out, but I was living in denial and pain. When I
                    surrendered
                    my life
                    to Jesus Christ, He showed me the truth about myself and His love for me. He healed my wounds and
                    made
                    me whole
                    again.
                  </span>

                  <span>
                    It is also a guide for you to discover your own journey with God. It includes reflection points that
                    will
                    challenge you to examine your heart and your relationship with Him. You can write your thoughts and
                    prayers on
                    the
                    book as you go along. You may not have the same experiences as I did, but you can learn from them
                    and
                    apply them
                    to your own situation – many paths can lead to the same destination.
                  </span>

                  <span>
                    Don't miss this opportunity to find your unexplored journey! This book will inspire you, encourage
                    you
                    and
                    empower you to live the abundant life that God has promised you.
                  </span>

                  <span class="text-center mb-0">
                    <strong>Get your copy</strong> via the channels below
                  </span>

                  <div class="book-purchase-links">
                    <a title="whatsapp" [href]="shareOnWhatsapp('kingdom')" rel="external nofollow noopener"
                      target="_blank"><i class="fa-brands fa-whatsapp"></i> </a>
                    <a title="email"
                      [href]="'mailto:mukamimercy@gmail.com?subject=Book Purchase Request : Kingdom Encounter Workbook By Mercy Munyange&body=' + whatsappBookPurchaseMessage"
                      target="_blank"> <i class="fa-regular fa-envelope"></i> </a>
                    <a title="amazon"
                      href="https://www.amazon.ca/Kingdom-Encounter-Beginning-Unexplored-Journey/dp/B0B53FVSC5/ref=sr_1_1?qid=1682338281&refinements=p_27%3Ammm&s=books&sr=1-1"><i
                        class="fa-brands fa-amazon"></i></a>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item" data-interval="7000">

          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="image-holder devotional-book">
                <img src="assets/images/30-day-devotion-crop.jpeg" alt="book-poster">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="content">

                <div>
                  <span>
                    Mercy invites working women to join a 30-day devotional focusing on some of her favorite Bible
                    verses
                    for encouragement
                    and transformation amidst daily responsibilities.
                  </span>

                  <span class="text-center mb-0">
                    <strong>Get your copy</strong> via the channels below
                  </span>

                  <div class="book-purchase-links">
                    <a title="whatsapp" [href]="shareOnWhatsapp('devotional')" rel="external nofollow noopener"
                      target="_blank"><i class="fa-brands fa-whatsapp"></i> </a>
                    <a title="email"
                      [href]="'mailto:mukamimercy@gmail.com?subject=Book Purchase Request : 30 DAY DEVOTIONAL FOR THE WORKING WOMAN By Mercy Munyange&body=' + whatsappDevotionalBookPurchaseMessage"
                      target="_blank"> <i class="fa-regular fa-envelope"></i> </a>
                    <a title="amazon" href="https://www.amazon.co.uk/30-DAY-DEVOTIONAL-WORKING-WOMAN/dp/B0D4MFRQ77"><i
                        class="fa-brands fa-amazon"></i></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>

    </div>



  </div>

  <div class="bottom-wave">
    <img src="assets/images/mid-blue-wave.svg" alt="">
  </div>
</div>