.articles {
  padding-top: 7vh;
  // background-color: #FBE7AA;

  #yellow-blob-articles {
    position: absolute;
    top: 0;
    left: -7%;
    width: 400px;
    filter: drop-shadow(0 5px 40px #f5be1d55);
  }

  #blue-blob-articles {
    position: absolute;
    top: 300px;
    right: -5%;
    width: 400px;
    filter: drop-shadow(0 5px 40px #4673b655);
    // z-index: -1;
  }
  .container {
    min-height: 77vh;
  }

}


@media (max-width: 1380px) {
  #yellow-blob-articles {
    width: 350px!important;
  }

  #blue-blob-articles {
    width: 350px!important;
  }
}


@media (max-width: 1100px) {
  #yellow-blob-articles {
    position: absolute;
    top: 0;
    left: -22%!important;
    width: 400px;
  }

  #blue-blob-articles {
    position: absolute;
    top: 300px;
    right: -20%!important;
    width: 400px;
  }


}
@media (max-width: 500px) {
  #yellow-blob-articles {
    position: absolute;
    top: 0;
    left: -60%!important;
  }

  #blue-blob-articles {
    position: absolute;
    top: 350px!important;
    right: -60%!important;
  }

}
