<div class="podcasts">
  <div class="container">


    <div class="filter-section" hidden>
      <div class="row justify-content-right">
        <div class="col-md-12">
          <div class="filters">
            <!-- <span (click)="sortBlogs()"><i class="fas sort-icon" [ngClass]="{'fa-sort-amount-up':!descending,'fa-sort-amount-down-alt':descending}"></i></span> -->

            <input type="text" name="search-blog" id="search-blog" [(ngModel)]="searchBlog" placeholder="Search blog" (keyup)="searchBlogByTitle(searchBlog)">
            <span *ngIf="!searchBlog" [@fadeIn]><i class="fas fa-search search-icon"></i></span>

          </div>
        </div>
      </div>

    </div>

    <div class="podcasts-listing">
      <div class="row" *ngIf="blogs.length" [@fadeInGrow]>
        <div class="col-md-4 col-lg-3" *ngFor="let blog of blogs;index as i">
          <div class="card podcast-card" (click)="toBlogDetail(blog)">
            <div class="image-holder">
              <img [src]="blog.thumbnail" alt="image">
            </div>

            <div>
              <h4>{{blog.title}}</h4>
              <!-- <small class="blog-pubDate flex-fill"><span><i class="far fa-calendar-alt"></i></span> {{blog.pubDate }}</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
