.home {
  main {
    padding-top: 7vh;
    padding-bottom: 5vh;
    background-color: #f8f9fa;
    // overflow-x: hidden;
    position: relative;

    .content {
      padding: 3vh 0;
      position: relative;
      z-index: 10!important;
      // background-image: url("../../../assets/images/yellow-blob.svg");
      // background-position: -50px -20%;
      // background-repeat: no-repeat!important;
      // background-size: 50%;
      h1 {
        font-weight: 900;
        color: #3c4043;
        font-size: 3.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.9rem;
      }

      .btn-cta {
        background-color: #f5be1d;
        border: 1px solid #f5be1d;
        border-radius: 0;
        font-style: 0.9rem;
        letter-spacing: 1px;
        color: #3c4043;
        font-weight: 600;
        padding: 10px 30px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        z-index: 1;

        &:hover {
          // background-color: #4673b6;
          // color: #f8f9fa;
          .bg {
            // transform: translateY(100%);
            transform: translateX(0);
            transition: all 0.2s ease-in-out;
          }
        }


        .bg {
          left: 0;
          bottom: 0;
          transform: translateX(-100%);

          color: #fff;
          background: #4673b6;
          // border-radius: 0 30px 30px 0 ;
          width: 24px;
          height: 100%;
          position: absolute;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
        }
      }
    }

    #yellow-blob {
      position: absolute;
      top: 0;
      left: -40%;
      z-index: 1!important;
      height: 320px;
    }

    .illustration {
      position: relative;
      text-align: center;
      background-image: url("../../../assets/images/yellow-blob-two.svg"),url("../../../assets/images/blue-blob.svg");
      background-position: -60px -25%, -34px 10%;
      background-repeat: no-repeat!important;
      background-size: 50%,125%;

      .italic-name {
        font-family: 'Great Vibes', sans-serif;
        font-size: 3.5rem;
        // font-weight: 600;
        position: absolute;
        top: 4%;
        right: -25%;
        color: #3c4043;
      }

      .mercy-img {
        height: 500px;
        z-index: 10;
        filter: drop-shadow(0 10px 5px #4673b660);
        margin-left: -90px;
      }

      #blue-blob {
        position: absolute;
        z-index: -1;
        width: 100%;
      }
    }

    .bottom-wave {
      img {
        width: 100vw;
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        // background-color: red;
        // background-image: linear-gradient(to bottom, transparent 10%, #fff 10%);
        z-index: 10!important;
      }
    }
  }
  // *****************************
  // services section
  // *****************************
  #services {
    scroll-margin-top: 8vh!important;
    padding: 9vh 0;
    background-color: #D1DCED;

    .section-description {
      width: 80%;
      margin: 0 auto 8vh;
      color: #4673b6;
      font-size: 0.95rem;
      // font-weight: 400;
      span {
        display: block;
        margin-bottom: 20px;
      }
    }

    .card {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 7px 7px 0 0 #4673b655;
      border: 1px solid #f1f1f1;
      transition: all 0.2s;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        box-shadow: 12px 12px 0 0 #4673b633;

        .link {
          span {
            position: relative;
            left: 10px;
          }
        }
      }

      .icon-holder {
        margin-bottom: 15px;

        img {
          height: 30px;
        }
      }

      h4 {
        font-weight: 600;
        font-size: 1.05rem;
        min-height: 40px;
        // margin-bottom: 15px;
        color: #3c4043;
      }

      p {
        font-size: 0.85rem;
        color: #5f6063;
        margin-bottom: 15px;
        min-height: 190px;
      }

      .link {
        cursor: pointer;
        color: #5f6063;
        font-size: 0.8rem;

        & span {
          transition: all 0.3s;
          position: relative;
          left: 5px;
          top: 1px;
        }
      }
    }
  }
  // *****************************
  // COMPANIES SECTION
  // *****************************
  #companies {
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 7vh;
    padding-bottom: 5vh;
    position: relative;

    .company-images {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .company-img {
        img {
          width: auto;
          height: 50px;
          filter: drop-shadow(0 2px 3px #0002);
        }
      }
    }

    .bottom-wave {
      img {
        width: 100vw;
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom, transparent 10%, #fff 10%);
        z-index: -1;
      }
    }
  }


}

#articles {
  .articles-listing {
    .article-card {
      border: none;
      padding: 10px 5px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &:last-child {
        border-bottom: none;
      }

      .article-image-holder {
        margin-right: 10px;

        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 6px;
          border: 1px solid #e1e1e1;
        }
      }

      .podcast-title {
        color: #5f6063;
        font-size: 0.8rem;
        font-weight: 600;
        display: block;
        text-align: left;
      }
    }
  }
}
@media (max-width: 1500px) {
  .italic-name {
    font-family: 'Great Vibes', sans-serif;
    font-size: 2.7rem!important;
    position: absolute;
    top: 10%!important;
    right: -10%!important;
    color: #3c4043;
  }
}
@media (max-width: 1100px) {
  main {
    .bottom-wave {
      img {
        position: absolute;
        bottom: -50px!important;
      }
    }
  }

  .illustration {
    background-image: url("../../../assets/images/blue-blob.svg")!important;
    background-position: -50px 50px!important;
    background-repeat: no-repeat!important;
    background-size: 125%!important;
  }

  .italic-name {
    display: none;
    // position: absolute;
    // top: -15%!important;
    // right: -5%!important;
  }

  #services {
    padding: 5vh 0 7vh !important;

    h4 {
      font-size: 1rem!important;
    }

    .card {
      p {
        min-height: 250px!important;
      }
    }
  }

  #companies {
    padding: 5vh 0 !important;

    .bottom-wave {
      img {
        position: absolute;
        bottom: -50px!important;
      }
    }
  }

}
@media (max-width: 1000px) {
  main {
    padding-top: 5vh!important;

    h1 {
      font-size: 3rem!important;
    }

    p {
      font-size: 0.8rem!important;
    }

    .illustration {
      background-image: url("../../../assets/images/blue-blob.svg")!important;
      background-position: -50px 50px!important;
      background-repeat: no-repeat!important;
      background-size: 135%!important;
    }

    .mercy-img {
      height: 450px!important;
      z-index: 10;
      filter: drop-shadow(0 10px 5px #4673b660);
      margin-left: -90px;
    }
  }

  #services {
    .card {
      p {
        min-height: 150px!important;
      }
    }
  }
}
@media (max-width: 600px) {
  main {
    .content {
      padding: 3vh 0 7vh !important;
    }

    .row{
      justify-content: center;
    }

    .illustration {
      width: 100%;
      text-align: center!important;
      position: relative;
      text-align: center;
      background-image: url("../../../assets/images/yellow-blob-two.svg")!important;
      background-position: -70px -50px!important;
      background-repeat: no-repeat!important;
      background-size: 50%,125%;

      .mercy-img {
        width: 100%;
        height: auto!important;
        z-index: 10;
        filter: drop-shadow(0 10px 5px #4673b660);
        margin-left: 0!important;
        margin: 0 auto;
      }
    }

    .bottom-wave {
      img {
        position: absolute;
        bottom: -20px!important;
      }
    }
  }

  .company-images {
    .company-img {
      img {
        height: 35px!important;
        margin: 15px 20px;
      }
    }
  }

  #services {
    .card {
      p {
        min-height: auto!important;
      }
    }
  }

  #companies {
    padding: 5vh 0 !important;

    .bottom-wave {
      img {
        position: absolute;
        bottom: -20px!important;
      }
    }
  }


}
