<div class="container-fluid home">

  <!-- LANDING SECTION -->
  <main [@fadeIn]>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 position-relative">
          <img src="assets/images/yellow-blob.svg" id="yellow-blob" alt="illustration">
          <div class="content">
            <h1>{{content.title}}</h1>
            <p>{{content.description}}</p>
            <button class="btn btn-cta" [routerLink]="'/about'">Tell me more</button>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <div class="illustration">
            <span class="italic-name">Mercy Munyange</span>
            <img class="mercy-img" [src]="content.imgUrl" alt="illustration">
            <!-- <img src="assets/images/blue-blob.svg" id="blue-blob" alt="illustration"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-wave">
      <img src="assets/images/grey-wave.svg" alt="">
    </div>
  </main>


  <!-- SERVICES SECTION -->
  <div id="services">
    <div class="container">

      <p class="section-description"> 
        <span> Mercy loves doing business and cares about the well-being of her community. She has a track record of setting up businesses for success by transforming products and services using customer feedback
          and relationship management. She believes that listening to customers and building trust with them are the keys to growth and innovation.
        </span>
      </p>


      <div class="row" *ngIf="services.length" [@fadeInGrow]>
        <div class="col-md-6 col-lg-3" *ngFor="let service of services;index as i">
          <div class="card">
            <div class="icon-holder">
              <img [src]="service.icon" alt="icon">
            </div>
            <h4>{{service.title}}</h4>
            <p>{{service.description}}</p>
            <span class="link" [routerLink]="service.link">Learn more <span><i class="fas fa-angle-right"></i></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TRUSTED COMPANIES -->
  <div id="companies">
    <div class="container">
      <p class="section-description">{{companies.description}}</p>
      <div class="company-images">
        <div class="company-img" *ngFor="let imgUrl of companies.companyImgs;index as i">
          <img [src]="imgUrl" alt="company">
        </div>
      </div>
    </div>

    <div class="bottom-wave">
      <img src="assets/images/grey-wave.svg" alt="">
    </div>

  </div>


  <!-- PODCAST SECTION -->
  <div id="podcasts" class="podcasts">
    <div class="container">
      <h3>The walk <br> Podcast</h3>
      <div class="yellow-border"></div>

      <p class="section-description"> 
        <span>
          Mercy enjoys producing content to guide and inspire other entrepreneurs in her community. She shares her valuable insights and experiences on topics such as market research, branding, networking, and social responsibility. Through her
          content, she hopes to empower others to pursue their passions and make a positive impact in the world.
        </span>
      </p>

      <div class="row">
        <div class="col-md-4 col-lg-3" *ngFor="let podcast of podcasts.slice(0,4);index as i">
          <div class="card podcast-card" [routerLink]="['/podcast', i]">
            <div class="image-holder">
              <img [src]="podcast.imgUrl" alt="">
            </div>

            <div>
              <h4>{{podcast.title}}</h4>
              <span class="time">{{podcast.time}}</span>
            </div>
            <!-- <div [innerHTML]="podcast.iframe | sanitizeIframe">        </div> -->
          </div>
        </div>
      </div>


      <div class="text-center">
        <button class="btn btn-more-podcasts" [routerLink]="'/podcasts'">More episodes <i class="fa-solid fa-arrow-right-long"></i></button>
      </div>
    </div>
  </div>

  <!-- BOOK SECTION -->
  <div id="book" class="book">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="image-holder">
            <img src="assets/images/kingdom-encounter-poster.png" alt="book-poster">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="content">

            <span>
              This book is more than just a memoir. It is a testimony of how God can transform a broken life into a beautiful masterpiece. I used to think I had it all figured out, but I was living in denial and pain. When I surrendered my life
              to Jesus Christ, He showed me the truth about myself and His love for me. He healed my wounds and made me whole again.
            </span>

            <span>
              It is also a guide for you to discover your own journey with God. It includes reflection points that will challenge you to examine your heart and your relationship with Him. You can write your thoughts and prayers on the
              book as you go along. You may not have the same experiences as I did, but you can learn from them and apply them to your own situation – many paths can lead to the same destination.
            </span>

            <span>
              Don't miss this opportunity to find your unexplored journey! This book will inspire you, encourage you and empower you to live the abundant life that God has promised you.
            </span>

            <div class="text-left">
              <a class="btn btn-get-book" [href]="shareOnWhatsapp()" rel="external nofollow noopener" target="_blank">Get your copy <i class="fa-brands fa-whatsapp"></i> </a>

            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="bottom-wave">
      <img src="assets/images/mid-blue-wave.svg" alt="">
    </div>
  </div>

  <!-- PODCAST SECTION -->
  <div id="articles" class="articles">
    <div class="container">
      <h3>Articles</h3>
      <div class="yellow-border"></div>

      <p class="section-description"> 
        <span>
          Feeling stuck or frustrated with your business? Do you wish to break free from the limitations and challenges that are holding your life back? Then check out my articles that will inspire and transform you with practical tips! </span>
      </p>

      <div class="podcasts-listing">
        <div class="row" *ngIf="blogs.length" [@fadeInGrow]>
          <div class="col-md-4 col-lg-3" *ngFor="let blog of blogs.slice(0,4);index as i">
            <div class="card podcast-card" (click)="toBlogDetail(blog)">
              <div class="image-holder">
                <img [src]="blog.thumbnail" alt="image">
              </div>

              <div>
                <h4>{{blog.title}}</h4>
                <!-- <small class="blog-pubDate flex-fill"><span><i class="far fa-calendar-alt"></i></span> {{blog.pubDate }}</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="text-center" *ngIf="blogs.length > 4">
        <button class="btn btn-more-podcasts" [routerLink]="'/podcasts'">More episodes <i class="fa-solid fa-arrow-right-long"></i></button>
      </div>
    </div>
  </div>
</div>
