.home {
  main {
    padding-top: 7vh;
    padding-bottom: 5vh;
    background-color: #f8f9fa;
    // overflow-x: hidden;
    position: relative;
    min-height: 600px;

    .content {
      padding: 3vh 0;
      position: relative;
      z-index: 10!important;
      // background-image: url("../../../assets/images/yellow-blob.svg");
      // background-position: -50px -20%;
      // background-repeat: no-repeat!important;
      // background-size: 50%;
      h1 {
        font-weight: 600;
        color: #3c4043;
        font-size: 3.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem;
        overflow: hidden;

      }

      .btn-cta {
        background-color: #f5be1d;
        border: none;
        border-radius: 0;
        font-style: 0.9rem;
        letter-spacing: 1px;
        color: #3c4043;
        font-weight: 600;
        padding: 10px 30px;
        min-width: 170px;
        position: relative;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        z-index: 1;

        &:hover {
          // background-color: #4673b6;
          // color: #f8f9fa;
          padding-left: 40px;
          transition: all 0.2s ease-in-out;

          .bg {
            // transform: translateY(100%);
            transform: translateX(0);
            transition: all 0.2s ease-in-out;
          }
        }

        .bg {
          left: 0;
          bottom: 0;
          transform: translateX(-100%);
          color: #f5be1d;
          background: #3c4043;
          border-radius: 0 30px 30px 0;
          width: 24px;
          height: 100%;
          position: absolute;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
        }
      }
    }

    #yellow-blob {
      position: absolute;
      top: 0;
      left: -40%;
      z-index: 1!important;
      height: 320px;
    }

    .illustration {
      position: relative;
      text-align: center;
      background-image: url("../../../assets/images/yellow-blob-two.svg"),url("../../../assets/images/blue-blob.svg");
      background-position: -60px -25%, -34px 10%;
      background-repeat: no-repeat!important;
      background-size: 50%,125%;

      .italic-name {
        font-family: 'Great Vibes', sans-serif;
        font-size: 5rem;
        // font-weight: 600;
        position: absolute;
        top: 4%;
        right: -55%;
        color: #4673b622;
      }

      .mercy-img {
        height: 500px;
        z-index: 10;
        filter: drop-shadow(0 10px 5px #4673b660);
        margin-left: -90px;
      }

      #blue-blob {
        position: absolute;
        z-index: -1;
        width: 100%;
      }
    }

    .bottom-wave {
      img {
        width: 100vw;
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        // background-color: red;
        // background-image: linear-gradient(to bottom, transparent 10%, #fff 10%);
        z-index: 10!important;
      }
    }
  }
  // *****************************
  // services section
  // *****************************
  #services {
    scroll-margin-top: 8vh!important;
    padding: 9vh 0;
    min-height: 500px;
    position: relative;
    background: url("../../../assets/images/dots-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #e1e1e1;

    .section-description {
      width: 80%;
      margin: 0 auto 8vh;
      color: #4673b6;
      font-size: 1.1rem;
      // font-weight: 400;
      span {
        display: block;
        margin-bottom: 20px;
        backdrop-filter: blur(3px);
      }
    }

    .card {
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 8px;
      box-shadow: 7px 7px 0 0 #4673b655;
      border: 1px solid #f1f1f1;
      transition: all 0.2s;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        box-shadow: 12px 12px 0 0 #4673b633;

        .link {
          span {
            position: relative;
            left: 10px;
          }
        }
      }

      .icon-holder {
        margin-bottom: 15px;

        img {
          height: 30px;
        }
      }

      h4 {
        font-weight: 600;
        font-size: 1.05rem;
        min-height: 30px;
        // margin-bottom: 15px;
        color: #3c4043;
      }

      p {
        font-size: 1rem;
        color: #5f6063;
        line-height: 1.8rem;
        margin-bottom: 15px;
        min-height: 120px;
      }

      .link {
        cursor: pointer;
        color: #5f6063;
        font-size: 0.9rem;

        & span {
          transition: all 0.3s;
          position: relative;
          left: 5px;
          top: 1px;
        }
      }
    }
  }
  // *****************************
  // COMPANIES SECTION
  // *****************************
  #companies {
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 7vh;
    padding-bottom: 5vh;

    .container{
      overflow: hidden;
      background-color: #f8f9fa;
      position: relative;
      padding: 0;
      min-width: 90vw;

    }

    .companies-gradient-bg{
      height: 150px;
      width: 120%;
      // background-color: red;
      position: absolute;
      top: 20%;
      z-index: 10;
      background-image: linear-gradient(to right, #f8f9fa 5%, transparent 10%,transparent 70%, #f8f9fa 80%);
    }
    .company-images {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .company-img {
        background-color: #fff;
        width: 320px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d, 0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d, 0 6.382653521484461px 19.147960564453385px -1.875px #0000000d, 0 20px 60px -2.5px #0000000d;
        margin-bottom: 10px;
        margin-right: 30px;

        img {
          width: auto;
          height: 55px;
          // filter: drop-shadow(0 2px 3px #0002);
        }
      }
    }

    .bottom-wave {
      img {
        width: 100vw;
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom, transparent 10%, #fff 10%);
        z-index: -1;
      }
    }
  }


  // **************************************
  // Infinite scroll logo carousel
  // **************************************
  $animationSpeed: 70s; // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  // **************************************
  // SLIDER STYLING
  // **************************************

  .company-images {
    position: relative;
    margin: 20px 0;

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 12);

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}


#articles {
  background: url('../../../assets/images/circle-scatter-2.svg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;

  .articles-listing {
    .article-card {
      border: none;
      padding: 10px 5px;
      cursor: pointer;
      margin-bottom: 30px;
      text-align: left;
      background-color: transparent;


      .article-image-holder {
        margin-right: 10px;
        height: 255px;
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
          // border-radius: 6px;
          border: 1px solid #e1e1e1;
        }
      }

      .podcast-title {
        color: #3c4043;
        font-size: 0.9rem;
        font-weight: 500;
        display: block;
      }

      .description{
        font-weight: 300!important;
        color: #5f6063;
        font-size: 0.9rem;
        margin-bottom: 10px;

        ::ng-deep *{
          font-weight: 300!important;
        }
      }

      .time{
        font-size: 0.8rem;
        color: #80868b;
        display: block;
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 1700px) {
  .italic-name {
    font-size:4.2rem!important;
    top: 8%!important;
    right: -35%!important;
  }
}

@media (max-width: 1500px) {
  .italic-name {
    font-size: 3.7rem!important;
    top: 10%!important;
    right: -25%!important;
  }
}
@media (max-width: 1300px) {
  .italic-name {
    font-size: 2.9rem!important;
    top: 10%!important;
    right: -7%!important;
  }
}

@media (max-width: 1100px) {

  main {
    .bottom-wave {
      img {
        position: absolute;
        bottom: -50px!important;
      }
    }
  }

  .illustration {
    background-image: url("../../../assets/images/blue-blob.svg")!important;
    background-position: -50px 50px!important;
    background-repeat: no-repeat!important;
    background-size: 125%!important;
  }

  .italic-name {
    display: none;
    // position: absolute;
    // top: -15%!important;
    // right: -5%!important;
  }

  #services {
    padding: 5vh 0 7vh !important;

    h4 {
      font-size: 1rem!important;
    }

    .card {
      p {
        min-height: 250px!important;
      }
    }
  }

  #companies {
    padding: 5vh 0 !important;

    .bottom-wave {
      img {
        position: absolute;
        bottom: -50px!important;
      }
    }
  }
}
@media (max-width: 1000px) {
  main {
    padding-top: 5vh!important;

    h1 {
      font-size: 3rem!important;
    }

    p {
      font-size: 0.8rem!important;
    }

    .illustration {
      background-image: url("../../../assets/images/blue-blob.svg")!important;
      background-position: -50px 50px!important;
      background-repeat: no-repeat!important;
      background-size: 135%!important;
    }

    .mercy-img {
      height: 450px!important;
      z-index: 10;
      filter: drop-shadow(0 10px 5px #4673b660);
      margin-left: -90px;
    }
  }

  #services {
    .card {
      p {
        min-height: 150px!important;
      }
    }
  }
}
@media (max-width: 600px) {
  main {
    .content {
      padding: 3vh 0 7vh !important;
    }

    .row {
      justify-content: center;
    }

    .illustration {
      width: 100%;
      text-align: center!important;
      position: relative;
      text-align: center;
      background-image: url("../../../assets/images/yellow-blob-two.svg")!important;
      background-position: -70px -50px!important;
      background-repeat: no-repeat!important;
      background-size: 50%,125%;

      .mercy-img {
        width: 100%;
        height: auto!important;
        z-index: 10;
        filter: drop-shadow(0 10px 5px #4673b660);
        margin: 0 auto!important;
      }
    }

    .bottom-wave {
      img {
        position: absolute;
        bottom: -20px!important;
      }
    }
  }

  .company-images {
    .company-img {
      img {
        height: 45px!important;
      }
    }
  }

  #services {
    .card {
      p {
        min-height: auto!important;
      }
    }
  }

  #companies {
    padding: 5vh 0 !important;

    .bottom-wave {
      img {
        position: absolute;
        bottom: -20px!important;
      }
    }
  }
}
