.home {
  main {
    padding-top: 7vh;
    background-color: #f8f9fa;
    overflow-x: hidden;

    .content {
      padding: 3vh 0;
      position: relative;
      z-index: 10!important;
      // background-image: url("../../../assets/images/yellow-blob.svg");
      // background-position: -50px -20%;
      // background-repeat: no-repeat!important;
      // background-size: 50%;
      h1 {
        font-weight: 900;
        color: #3c4043;
        font-size: 3.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.9rem;
      }

      .btn-cta {
        background-color: #f5be1d;
        border: 1px solid #f5be1d;
        border-radius: 0;
        font-style: 0.9rem;
        letter-spacing: 1px;
        color: #3c4043;
        font-weight: 600;
        padding: 10px 30px;

        &:hover {
          // background-color: #4673b6;
          // color: #f8f9fa;
        }
      }
    }

    #yellow-blob {
      position: absolute;
      top: 0;
      left: -40%;
      z-index: 1!important;
      height: 320px;
    }

    .illustration {
      position: relative;
      text-align: center;
      background-image: url("../../../assets/images/yellow-blob-two.svg"),url("../../../assets/images/blue-blob.svg");
      background-position: -60px -25%, -34px 10%;
      background-repeat: no-repeat!important;
      background-size: 50%,125%;

      .italic-name {
        font-family: 'Great Vibes', sans-serif;
        font-size: 4rem;
        // font-weight: 600;
        position: absolute;
        top: -4%;
        right: -32%;
        color: #3c4043;
      }

      .mercy-img {
        height: 500px;
        z-index: 10;
        filter: drop-shadow(0 10px 5px #4673b660);
        margin-left: -90px;
      }

      #blue-blob {
        position: absolute;
        z-index: -1;
        width: 100%;
      }
    }
  }
  // *****************************
  // services section
  // *****************************
  #services {
    scroll-margin-top: 8vh!important;
    padding: 7vh 0;
    background-color: #D1DCED;

    .section-description {
      width: 80%;
      margin: 0 auto 8vh;
      color: #4673b6;
      font-size: 0.95rem;
      // font-weight: 400;
      span {
        display: block;
        margin-bottom: 20px;
      }
    }

    .card {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 7px 7px 0 0 #4673b655;
      border: 1px solid #f1f1f1;
      transition: all 0.2s;
      background-color: #fff;

      &:hover {
        box-shadow: 12px 12px 0 0 #4673b633;

        .link {
          span {
            position: relative;
            left: 10px;
          }
        }
      }

      .icon-holder {
        margin-bottom: 15px;

        img {
          height: 30px;
        }
      }

      h4 {
        font-weight: 600;
        font-size: 1.05rem;
        min-height: 42px;
        // margin-bottom: 15px;
        color: #3c4043;
      }

      p {
        font-size: 0.85rem;
        color: #5f6063;
        margin-bottom: 15px;
      }

      .link {
        cursor: pointer;
        color: #5f6063;
        font-size: 0.8rem;

        & span {
          transition: all 0.3s;
          position: relative;
          left: 5px;
          top: 1px;
        }
      }
    }
  }
  // *****************************
  // COMPANIES SECTION
  // *****************************
  #companies {
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 7vh;
    position: relative;

    .company-images {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .company-img {
        img {
          width: auto;
          height: 50px;
          filter: drop-shadow(0 2px 3px #0002);
        }
      }
    }

    .bottom-wave {
      img {
        width: 100vw;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        z-index: -1;
      }
    }
  }
}
@media (max-width: 1500px) {
  .italic-name {
    font-family: 'Great Vibes', sans-serif;
    font-size: 3rem!important;
    position: absolute;
    top: 10%!important;
    right: -15%!important;
    color: #3c4043;
  }
}
@media (max-width: 1100px) {
  .illustration {
    background-image: url("../../../assets/images/blue-blob.svg")!important;
    background-position: -50px 50px!important;
    background-repeat: no-repeat!important;
    background-size: 125%!important;
  }

  .italic-name {
    display: none;
    // position: absolute;
    // top: -15%!important;
    // right: -5%!important;
  }

  #services {
    padding: 5vh 0 7vh !important;

    h4 {
      font-size: 1rem!important;
    }

    p {
      font-size: 0.85rem;
      color: #5f6063;
      margin-bottom: 15px;
    }
  }

  #companies {
    padding: 5vh 0 !important;

    .bottom-wave {
      display: none;
    }
  }
}
@media (max-width: 1000px) {
  main {
    padding-top: 5vh!important;

    h1 {
      font-size: 3rem!important;
    }

    p {
      font-size: 0.8rem!important;
    }

    .illustration {
      background-image: url("../../../assets/images/blue-blob.svg")!important;
      background-position: -50px 50px!important;
      background-repeat: no-repeat!important;
      background-size: 135%!important;
    }

    .mercy-img {
      height: 450px!important;
      z-index: 10;
      filter: drop-shadow(0 10px 5px #4673b660);
      margin-left: -90px;
    }
  }
}

@media (max-width: 600px) {
  .company-images {

    .company-img {
      img {
        height: 35px!important;
        margin: 15px;
      }
    }
  }

}
