<div class="blog-detail" [@fadeIn]>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-9">
        <div>
          <h3 class="blog-title">{{blog?.title}}</h3>
          <div [innerHTML]="blog?.content" class="content"></div>

          <div class="share-on-socials">
            <h5>Share on social?</h5>

            <span class="share-instructions">Hey, thank you so much for reading my article. I hope you enjoyed it and learned something new. If you did, I have a small favor to ask you. <br><br> Please share this article with
              your friends on social media. It would mean the world to me and it would help me reach more people who might benefit from my content. Sharing is easy, just click on your preffered the social channel, and tag me
              <strong>@mukami.mercy</strong>.
            </span>

            <div class="social-links">
              <a [href]="shareOnWhatsapp()" data-action="share/whatsapp/share" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="tool-tip">Whatsapp</span>
              </a>
              <a [href]="shareOnTwitter()" target="_blank">
                <i class="fa-brands fa-twitter"></i>
                <span class="tool-tip">&nbsp;Twitter&nbsp;</span>
              </a>
              <a [href]="shareOnFacebook()" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
                <span class="tool-tip">Facebook</span>
              </a>
              <a (click)="copyLink()">
                <i class="fa-solid fa-link"></i>
                <span class="tool-tip">{{isCopied ? ' Copied ! ' : 'Copy link'}}</span>
              </a>
            </div>

            <span class="share-instructions"> And don't forget to follow on <a href="https://thewalkbymercymunyange.medium.com/" target="_blank">Medium</a> so you never miss an article.
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3" *ngIf="blogs?.length > 1">
        <div class="podcasts-listing">
          <h4>OTHER ARTICLES</h4>

          <div class="podcast-item" *ngFor="let blog of blogs.slice(0,7);index as i" [hidden]="i === +currentArticleIndex" (click)="getClickedArticle(blog)">
            <div class="image-holder">
              <img [src]="blog.thumbnail" alt="image">
            </div>

            <div class="podcast-title">
              <span>{{blog.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
