.navbar {
  height: 67px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.09);

  .navbar-brand {
    img {
      height: 60px;
      filter: drop-shadow(0 5px 2px #4673b640);
    }
  }

  .nav-item {
    margin: 0 10px;

    .nav-link {
      // font-family: 'Roboto', sans-serif;
      color: #5f6063;
      position: relative;
      font-size: 0.9rem;
      font-weight: 600;
      // font-weight: 600;
    }

    .nav-link:after {
      position: absolute;
      left: 0;
      height: 4px;
      background: #80868b;
      content: "";
      opacity: 0;
      transition: all 0.2s ease;
    }

    .nav-link:after {
      width: 40px;
      border-radius: 20px;
      bottom: 0;
      transform: translateX(-10px);
    }

    .nav-link:hover:after {
      opacity: 1;
      transform: translateX(5px);
    }
  }

  .active-link {
    color: #4673b6!important;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      height: 4px;
      width: 40px;
      background: #4673b6!important;
      opacity: 1!important;
      width: 40px!important;
      border-radius: 20px;
      bottom: 0;
      transform: translateX(5px)!important;
    }
  }
}
@media (max-width: 1000px) {
  .navbar-brand {
    img {
      height: 40px!important;
      filter: drop-shadow(0 5px 2px #4673b640);
    }
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-item{
      margin: 0 15px;
    }
  }
}
@media (min-width: 500px) {

}
