<div class="podcasts position-relative" [@fadeIn]>
  <!-- <img src="assets/images/yellow-blob.svg" id="yellow-blob-podcasts" alt=""> -->

  <!-- <img src="assets/images/blue-blob-2.svg" id="blue-blob-podcasts" alt=""> -->


  <div class="container">


    <div class="position-relative">
      <h3>The walk By Mercy Munyange <br> Podcast</h3>
      <div class="yellow-border"></div>
    </div>

    <p class="section-description"> 
      <span>
        Mercy enjoys producing content to guide and inspire other entrepreneurs in her community. She shares her valuable insights and experiences on topics such as market research, branding, networking, and social responsibility. Through her
        content, she hopes to empower others to pursue their passions and make a positive impact in the world.
      </span>
    </p>

    <div class="podcast-link-container" *ngIf="podcasts?.length" [@fadeIn]>
      <a class="btn btn-podcast-link" *ngFor="let podcastLink of podcastLinks;index as i" [href]="podcastLink.link" target="_blank">
        Listen on {{podcastLink.title}}
        <span class="bg"></span>
      </a>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-2 d-none d-lg-block"></div>
      <div class="col-md-10 col-lg-7 px-md-0">

        <div class="podcast-listing">
          <div *ngIf="podcasts?.length && !loading" [@fadeInGrow]>
            <div class="card podcast-card" [ngClass]="{'active-card':currentPodcast?.index === i}" *ngFor="let podcast of podcasts;index as i">
              <div class="image-holder" [routerLink]="['/podcast', i]" (click)="storeToLocal(i)">
                <img [src]="podcast.imgUrl" loading="lazy" alt="image">
              </div>

              <div class="podcast-content-container">
                <div class="podcast-content">
                  <h4 [routerLink]="['/podcast', i]" (click)="storeToLocal(i)">{{podcast.title}}</h4>
                  <span class="time"> {{podcast.date}} <i class="fa-solid fa-circle"></i> {{podcast.time}}</span>
                </div>


                <div class="podcast-actions">
                  <span class="podcast-play" [ngClass]="{'active-play':currentPodcast?.index === i}" (click)="play(i)"><i class="fa-solid fa-circle-play"></i></span>
                  <!-- [hidden]="currentPodcast.index === i && currentPodcast.isPlaying" -->
                  <!-- <span class="podcast-play" *ngIf="currentPodcast.index === i && currentPodcast.isPlaying" (click)="pause()"><i class="fa-solid fa-circle-pause"></i></span> -->
                  <!-- <span class="custom-tooltip">{{currentPodcast.index === i && currentPodcast.isPlaying ? 'Pause' : 'Play'}} episode</span> -->
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <!-- <div class="floating-iframe-mobile d-sm-block d-lg-none">
        <div class="podcast-embed" [innerHTML]="currentPodcast.iframe | sanitizeIframe"> </div>
      </div> -->
      <div class="col-12 col-lg-3">
        <div class="floating-iframe-laptop" *ngIf="currentPodcast" [@fadeIn]>
          <!-- d-none d-lg-block -->
          <div class="podcast-embed" [innerHTML]="currentPodcast.iframe | sanitizeIframe"> </div>

          <div class="share-content-box">

            <span class="share-text">
              <!-- I hope you enjoyed this podcast and learned something new.
              <br>
              If you did , share with your friends on social media. -->
              Share podcast with your friends
            </span>

            <div class="social-links">
              <a [href]="shareOnWhatsapp()" data-action="share/whatsapp/share" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="tool-tip">Whatsapp</span>
              </a>
              <a [href]="shareOnTwitter()" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
                <span class="tool-tip">&nbsp;Twitter&nbsp;</span>
              </a>
              <a [href]="shareOnFacebook()" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
                <span class="tool-tip">Facebook</span>
              </a>
              <a (click)="copyLink()">
                <i class="fa-solid fa-link"></i>
                <span class="tool-tip">{{isCopied ? ' Copied ! ' : 'Copy link'}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>



</div>
