/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './assets/css/font-montserrat.css';
@import "./assets/css/font-roboto.css";
@import './assets/css/font-great-vibes.css'; // @import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/solid.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/brands.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css'; // ng build --base-href https://wess58.github.io/mercyportfolio/ --output-path docs && git add . && git commit -m "docs ready for deployment" && git push
// color blue - #4673b6
// color yellow - #f5be1d

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  // background-color: #f8f9fa;
}

* img::selection {
  background-color: transparent!important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

*a,
button {
  outline: none!important;
  box-shadow: none!important;
}

::selection {
  // color: #f1f1f1;
  // background-color: #80868b!important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.section-description {
  font-weight: 600;
  color: #5f6063;
  margin-bottom: 30px;
  text-align: center;
}
// *****************************
// PODCASTS SECTION
// *****************************

.podcasts {
  padding-top: 7vh;
  overflow-x: hidden;

  h3 {
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
    color: #4673b6;
    z-index: 10;
  }

  .yellow-border {
    width: 300px;
    height: 20px;
    background-color: #f5be1d80;
    margin: -40px auto 0;
    transform: translate(-20%,30%);
    position: relative;
    z-index: -1!important;
  }

  .section-description {
    width: 80%;
    margin: 5vh auto 7vh;
    font-size: 0.95rem;
    // font-weight: 400;
    span {
      display: block;
      margin-bottom: 20px;
    }
  }

  .podcast-card {
    border: none;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      img {
        // border: 1px solid #3c4043!important;
        transform: scale(1.02);
      }
    }

    .image-holder {
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
        border: 1px solid #e1e1e1;
        transition: all 0.2s;
      }
    }

    h4 {
      font-size: 0.9rem;
      font-weight: 600;
      color: #3c4043;
    }

    .time{
      font-size: 0.8rem;
      color: #5f6063;
      display: block;
    }
  }

  .btn-more-podcasts {
    background-color: #f5be1d;
    color: #3c4043;
    padding: 10px 40px;
    margin: 3vh auto;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 0;
    // min-width: 200px;
    &:hover {
      i {
        position: relative;
        left: 15px;
      }
    }

    i {
      position: relative;
      left: 10px;
      transition: all 0.2s;
    }
  }
}
@media (max-width: 1000px) {
  .podcasts {
    padding: 5vh 0 !important;
  }
}
@media (max-width: 500px) {
  .section-description {
    font-weight: 600;
    color: #5f6063;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.85rem!important;
    line-height: 1.4rem;
  }

  .podcasts {
    .yellow-border {
      width: 230px;
    }

    .col-lg-3,
    .col-md-4 {
      &:last-child {
        .podcast-card {
          border-bottom: none!important;
        }
      }
    }

    .podcast-card {
      border: none;
      cursor: pointer;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #e1e1e1!important;
      border-radius: 0!important;
      // align-items: center;

      &:hover {
        img {
          transform: scale(1)!important;
        }
      }

      .image-holder {
        margin-right: 10px!important;
        display: inline-block;

        img {
          width: 70px!important;
          height: 70px!important;
          border-radius: 6px;
          object-fit: cover;
        }
      }

      h4 {
        font-size: 0.9rem;
        font-weight: 600;
        color: #3c4043;
      }

    }
  }
}
