<div class="container-fluid podcast-detail" *ngIf="currentPodcast" [@fadeIn]>
  <div class="podcast-landing-section">
    <div class="container">



      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-9">
          <button class="btn btn-back" [routerLink]="'/podcasts'"><i class="fa-solid fa-arrow-left"></i></button>

          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="podcast-image-holder">
                <img [ngClass]="{'drop-in':animateAfterViewInit}" [hidden]="!animateAfterViewInit" [src]="currentPodcast.imgUrl" alt="image">
              </div>
            </div>
            <div class="col-md-7">
              <div class="content" [ngClass]="{'drop-in-2':animateAfterViewInit}" [hidden]="!animateAfterViewInit">
                <span class="podcast-name">The walk by Mercy Munyange Podcast</span>
                <span class="episode-title">{{currentPodcast.title}}</span>
                <span class="time"> {{currentPodcast.date}} <i class="fa-solid fa-circle"></i> {{currentPodcast.time}}</span>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="bottom-wave">
      <!-- <img src="assets/images/light-blue-wave.svg" alt=""> -->
    </div>
  </div>


  <div class="podcast-content" [ngClass]="{'drop-in-3':animateAfterViewInit}" [hidden]="!animateAfterViewInit">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">

          <span class="listen-on-text">
            <span>listen on : </span>
            <a [href]="currentPodcast.applePodcast" target="_blank" *ngIf="currentPodcast?.applePodcast">APPLE PODCASTS</a> <span *ngIf="currentPodcast?.applePodcast && currentPodcast?.spotify">|</span> <a [href]="currentPodcast.spotify"
              target="_blank" *ngIf="currentPodcast?.spotify">SPOTIFY</a>
          </span>
          <div class="podcast-embed" [innerHTML]="currentPodcast.iframe | sanitizeIframe"> </div>

          <div class="podcast-description" [innerHTML]="currentPodcast.description"></div>

          <div class="podcast-description">Support the show</div>
          <!-- <a class="support-link" href="https://www.buzzsprout.com/2197946/support" target="_blank">Support the show <i class="fa-solid fa-square-arrow-up-right"></i></a> -->

          <div class="share-on-socials">
            <h5>Share on social?</h5>

            <span class="share-instructions">Hey, thank you so much for listening to this episode of my podcast. I hope you enjoyed it and learned something new. If you did, I have a small favor to ask you. <br><br> Please share this podcast with
              your friends on social media. It would mean the world to me and it would help me reach more people who might benefit from my content. Sharing is easy, just click on your preffered social channel, and tag me
              <strong>@mukami.mercy</strong>.
            </span>
            <div class="social-links">
              <a [href]="shareOnWhatsapp()" data-action="share/whatsapp/share" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="tool-tip">Whatsapp</span>
              </a>
              <a [href]="shareOnTwitter()" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
                <span class="tool-tip">&nbsp;Twitter&nbsp;</span>
              </a>
              <a [href]="shareOnFacebook()" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
                <span class="tool-tip">Facebook</span>
              </a>
              <a (click)="copyLink()">
                <i class="fa-solid fa-link"></i>
                <span class="tool-tip">{{isCopied ? ' Copied ! ' : 'Copy link'}}</span>
              </a>
            </div>

            <span class="share-instructions"> And don't forget to follow on <a href="https://podcasts.apple.com/ke/podcast/the-walk-by-mercy-munyanges-podcast/id1690340521" target="_blank">Apple Podcasts</a> , <a
                href="https://open.spotify.com/show/0k8ycpNhaiLof1kutoI7dh?si=86bfc174c7454b5e" target="_blank">Spotify</a>, <a href="https://www.youtube.com/@thewalkbymercymunyange289" target="_blank">Youtube</a> or <a
                href="https://baze.co.ke/lifestyle/show/the-walk-by-mercy-munyange">Blaze</a> to the show so you never miss an
              episode.
            </span>
          </div>

          <button class="btn btn-back mb-0" [routerLink]="'/podcasts'"><i class="fa-solid fa-arrow-left"></i></button>


        </div>
        <div class="col-md-4 col-lg-3">
          <div class="podcasts-listing">
            <h4>NEXT PODCASTS</h4>

            <div class="podcast-item" *ngFor="let podcast of otherPodcasts;" (click)="getCurrentPodcast(podcast.index)">
              <div class="image-holder">
                <img [src]="podcast.imgUrl" alt="image">
              </div>
              <div>
                <span class="podcast-title">{{podcast.title}}</span>
                <span class="time"> {{podcast.date}} <i class="fa-solid fa-circle"></i> {{podcast.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
